h2{
    background-color: aqua;
}

.cart-container{
    display: flex;
}
.cart-body{
    width: 70%;
    margin: 50px;
}
.site-cart{
    width: 30%;
    margin-top: 50px;
}
h2{
    text-align: center;
}