img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.player-container {
    display: flex;
    background-color: rgb(152, 175, 152);
    margin: 20px;
    align-items: center;
    border-radius: 10px;
}

.player-img {
    margin: 20px;
}

.player-body {
    margin: 10px;
    text-align: center;
    padding: 15px;
}

button:hover {
    cursor: pointer;
}